# {{name}} <img src="https://raw.githubusercontent.com/mayank1513/mayank1513/main/popper.png" style="height: 40px"/>

<p className="flex gap-2">
  <a href="https://github.com/{{ owner }}/{{ repo }}/actions/workflows/ci.yml" rel="noopener noreferrer">
    <img alt="CI" src="https://github.com/{{ owner }}/{{ repo }}/actions/workflows/ci.yml/badge.svg" />
  </a>
  <a href="https://codecov.io/gh/{{ owner }}/{{ repo }}/tree/main/packages/{{ scopedKebab name }}" rel="noopener noreferrer">
    <img alt="codecov" src="https://codecov.io/gh/{{ owner }}/{{ repo }}/graph/badge.svg?flag={{ scopedKebab name }}" />
  </a> 
  <a href="https://npmjs.com/package/{{ scopedKebab name }}" rel="noopener noreferrer">
    <img alt="npm version" src="https://img.shields.io/npm/v/{{ scopedKebab name }}" />
  </a>
  <a href="https://npmjs.com/package/{{ scopedKebab name }}" rel="noopener noreferrer">
    <img alt="npm downloads" src="https://img.shields.io/npm/d18m/{{ scopedKebab name }}" />
  </a>
  <a href="https://npmjs.com/package/{{ scopedKebab name }}" rel="noopener noreferrer">
    <img alt="npm bundle size" src="https://img.shields.io/bundlephobia/minzip/{{ scopedKebab name }}" />
  </a>
  <img alt="license" src="https://img.shields.io/npm/l/{{ scopedKebab name }}" />
</p>

> {{name}}: {{description}}

---

## ✨ Why {{name}}?

- 
- 

---

## 📦 Installation

```bash
$ pnpm add {{scopedKebab name}}
```

**_or_**

```bash
$ npm install {{scopedKebab name}}
```

**_or_**

```bash
$ yarn add {{scopedKebab name}}
```


## License

This library is licensed under the {{license}} open-source license.

<hr />

<p align="center">with 💖 by <a href="https://mayankchaudhari.com" target="_blank">Mayank Kumar Chaudhari</a></p>
